asgiref
astroid
backcall
colorama
cycler
decorator
Django
gunicorn
ipykernel
ipython
ipython-genutils
isort
jedi
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
pandas
parso
pickleshare
Pillow
prompt-toolkit
Pygments
pylint
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scipy
seaborn
six
sqlparse
toml
tornado
traitlets
typed-ast
wcwidth
wrapt
